<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Peliculas app</h1>
        <p class="lead">Aplicacion de peliculas</p>
    </div>
</div>

<div class="container">
    <!-- ENVIAMOS LA DATA DE CARTELERA Y EL COMPONENTE GALERIA
  LO VA A RECIBIR COMO PELICULAS -->
    <app-galeria [peliculas]="cartelera|slice:0:6" titulo="Peliculas en cartelera"></app-galeria>

    <app-galeria [peliculas]="populares|slice:0:6" titulo="Peliculas populares"></app-galeria>

    <app-galeria [peliculas]="ninos|slice:0:6" titulo="Populares para niños"></app-galeria>
</div>