<h1>Heroes</h1>

<hr>

<div class="row">
    <div class="col text-right">
        <button class="btn btn-primary" routerLink="/heroe/nuevo">
      <i class="fas fa-plus"></i> Agregar
    </button>
    </div>
</div>

<table class="table mt-3 animated fadeIn faster" *ngIf="!cargando && heroes.length > 0">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Poder</th>
            <th>Vivo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i = index">
            <td scope="row"> {{ i+1 }} </td>
            <td> {{ heroe.nombre }} </td>
            <td> {{ heroe.poder }} </td>
            <td>
                <label *ngIf="heroe.vivo" class="badge badge-success">Vivo</label>
                <label *ngIf="!heroe.vivo" class="badge badge-danger">Muerto</label>
            </td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="['/heroe', heroe.id]">
                    <i class="fas fa-pen"></i>
                </button>

                <button class="btn btn-danger" (click)="borrarHeroe(heroe, i)">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="alert-info alert text-center mt-3 animated fadeIn faster" *ngIf="cargando">
    <h4 class="alert-heading">Cargando</h4>

    <p>
        <i class="fas fa-sync fa-spin fa-2x"></i>
    </p>

    <p class="mb-8">
        Espere
    </p>
</div>

<div class="alert-warning alert text-center mt-3 animated fadeIn faster" *ngIf="!cargando && heroes.length === 0">
    <h4 class="alert-heading">No hay registros</h4>

    <p>
        <i class="fas fa-exclamation fa-2x"></i>
    </p>
</div>
