<div class="container top-30">
  <div class="row">
    <div class="col-md-3  text-center">
      <img [src]="imgArtista"
            class="img-fluid img-responsive img-thumbnail">
    </div>

    <div class="col-md-9 text-center top-30">
      <h1>{{ nameArtista }}</h1>
      <hr>
      <button [routerLink]="['/buscar']"
              class="btn btn-primary btn-group" type="button" name="button">
        Regresar
      </button>

      <a href="https://open.spotify.com/artist/{{identificador}}" target="_blank"
              class="btn btn-success btn-group" type="button" name="button">
        Ir a Spotify
      </a>
    </div>
  </div>

  <div class="row top-30">
    <div class="col-md-12">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Álbum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pista of pistas; let i = index">
            <td>{{ i+1 }}</td>
            <td>
              <img src="{{ pista.album.images[2].url }}" alt="">
              {{ pista.name }}
            </td>
            <td>
              <span *ngFor="let artista of pista.artists">
                {{ artista.name }}
              </span>
            </td>
            <td>
              {{ pista.album.name | slice:0:25 }}
              <span *ngIf="pista.album.name.length>25">...</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- <pre>
{{artista | json}}
</pre> -->
