<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>

  <div>

    <div class="form-group row" [ngClass]="{ 'has-danger' : ( nombre.errors?.required || nombre.errors?.minlength ) && nombre.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="3"
               required
               #nombre="ngModel">

        <div class="form-control-feedback"
              *ngIf="nombre.errors?.required">
          El campo es requerido
        </div>

        <div *ngIf="nombre.errors?.minlength">
          Este campo debe tener {{ nombre.errors.minlength.requiredLength }} o más caracteres
        </div>

      </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger' : ( apellido.errors?.required || apellido.errors?.minlength ) && apellido.touched }">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               minlength="5"
               required
               #apellido="ngModel">

        <div *ngIf="apellido.errors?.required">
          El campo es requerido
        </div>

        <div *ngIf="apellido.errors?.minlength">
          Este campo debe tener {{ apellido.errors.minlength.requiredLength }} o más caracteres
        </div>

      </div>
    </div>

  </div>

  <div class="form-group row" [ngClass]="{ 'has-danger' : ( email.errors?.required || email.errors?.pattern ) && email.touched }">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="usuario.correo"
             minlength="5"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel">

      <div *ngIf="email.errors?.required">
        El campo es requerido
      </div>

      <div *ngIf="email.errors?.pattern">
        Este campo no tiene el formato correcto
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-8">
      <select [(ngModel)]="usuario.pais"
              class="form-control"
              name="pais"
              required>
        <option value="">* Seleccione un país</option>
        <option *ngFor="let pais of paises"
                [value]="pais.codigo"> {{ pais.nombre }} </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">
      <label class="custom-control custom-radio" *ngFor="let sexo of sexos">
        <input [(ngModel)]="usuario.sexo"
              name="sexo"
              [value]="sexo"
              type="radio"
              class="custom-control-input"
              required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{sexo}}</span>
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">
      <label class="custom-control custom-checkbox">
        <input [(ngModel)]="usuario.acepta"
                name="acepta"
                type="checkbox"
                class="custom-control-input"
                required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Acepto las condiciones</span>
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid"
              type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{ usuario | json }}
</pre>
