<h1>Heroes</h1>

<hr>

<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','nuevo']"
            class="btn btn-outline-primary"
            type="button" name="button">
      Nuevo heroe
    </button>
  </div>
</div>

<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Casa</th>
              <th class="text-right">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let k of heroes | keys; let i = index">
              <th> {{ i + 1 }} </th>
              <th> {{ heroes[k].nombre }} </th>
              <td> {{ heroes[k].casa }} </td>
              <td class="text-right">
                <button [routerLink]="['/heroe', 'k']"
                        type="button" class="btn btn-outline-info btn-sm">
                  Editar
                </button>

                <button (click)="borraHeroe(k)"
                        type="button" class="btn btn-outline-danger btn-sm">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="(heroes | keys).length === 0 && !loading"
              class="alert alert-info" role="alert">
          No hay registros para mostrar
        </div>

        <div *ngIf="loading===true"
              class="alert alert-warning" role="alert">
          <strong>Cargando...</strong> Por favor espere
        </div>

    </div>
  </div>
</div>
