<div class="card-columns m-5 animated fadeIn">
  <div  (click)="verArtista( item )" 
        *ngFor="let item of items" 
        class="card puntero">
    <img class="card-img-top img-fluid" [src]="item.images | noimage">

    <div class="card-block">
      <h5 class="card-title">{{ item.name }}</h5>

      <p class="card-text">
        <span class="badge badge-pill badge-primary" *ngFor="let artista of item.artists">
          {{ artista.name }}
        </span>
      </p>
    </div>
  </div>
</div>